*{
    margin:0;
    padding:0;
    font:Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}
#one{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
   
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    background-color: #ffffff;
    
}
.navbar{
    width: 500px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-transform: none;
}
#three{   
    background-color:#e7e6eb;
    height:600px;
    border-bottom: 1px solid  #b6b1b1;
}
#one{
    text-align: center;
}
#firstp{
    width:80%;
    margin-left: 200px;
    margin-top: 80px;
}
#secondp{
    width:80%;
    margin-left: 200px;
    text-align: justify;
}
#footercontainer{
   
    height:88px;
    background-color: #d3d9eb;
    display: flex;
    justify-content: space-evenly;
}
.navbar a{
    text-decoration: none;
    padding: 28px 0;
    color: black;
}
.navbar a:hover {
    border-bottom: 4px solid #b8d0e3;
    border-top: 4px solid #b8d0e3;
}
#one a{
    text-decoration: none;
    color:black;
}
#git{
    text-decoration: none;
    color:black;
}
/*For Tablet (Header)*/
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    header {
        flex-direction: row;
        align-items:flex-start;
        height: auto;
       
    }
    
    #one {
      font-size: 10px;
      margin-left: 10px;
      margin-top: 30px;
      
    }
    
    .navbar li {
      margin-right: 0px;
      
    }
    .navbar{
       
        font-size:10px ;
        margin-top: 10px;
        
        
    }
  }
  /*For Tablet (Main)*/
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    #three{
      width: auto;
    }
    #secondp{
      margin-left: 10px;
    }
    #firstp{
      margin-left: 10px;
    }
  }
   /* Tablet (Footer)(768px - 1024px) */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    #footercontainer {
      height: auto;
      flex-direction: column;
      align-content: space-evenly;
      font-size: 15px;
      
    }
    
    
    #contact, #email, #linkdin, #github {
      margin: 5px 5px;
    }
}
/* Mobile (Header)(480px - 767px) */
@media only screen and (max-width: 767px) and (min-width: 480px) {
    header {
      flex-direction: row;
      align-items: center;
      width: auto;
      
    }
    
    #one {
      font-size: 10px;
      margin-left: 10px;
      text-align: center;
    }
    
    .navbar {
      flex-direction: row;
      align-items: center;
      width: 400px;
    }
    
    .navbar li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .navbar a {
      font-size: 10px;
    }
  }
  /* Mobile (Main)(480px - 767px) */
  @media only screen and (max-width: 767px) and (min-width: 480px){
    #three{
      width: auto;
    }
    #secondp{
      margin-left: 10px;
    }
    #firstp{
      margin-left: 10px;
    }
  }
  @media only screen and (max-width: 767px) and (min-width: 480px) {
    #footercontainer {
     
      flex-direction: column;
      padding: 15px;
      height: 300px;
      font-size: 10px;
    }
    
    #contact, #email, #linkdin, #github {
      margin: 5px 0;
      font-size: 10px;
    }
    
    #git {
      font-size: 10px;
    }
    #copy{
      font-size: 10px;
    }
  }
  /* Small Mobile (Header)(320px - 479px) */
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    header {
      flex-direction: row;
      align-items: center;
       
      
    }
    
    #one {
      font-size: 5px;
      margin-left: 0px;
      margin-top: 30px;
      
    }
    
    .navbar {
      flex-direction: row;
      align-items: center;
     
    }
    
    .navbar li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .navbar a {
      font-size: 8px;
    }
  }
  /* Small Mobile (Main)(320px - 479px) */
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    #three{
      width: auto;
    }
    #secondp{
      margin-left: 10px;
    }
    #firstp{
      margin-left: 10px;
    }
  }
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    #footercontainer {
      height: auto;
      flex-direction: column;
      padding: 5px;
      font-size: 10px;
     
    }
    
    #contact, #email, #linkdin, #github {
      margin: 5px 0;
      font-size: 10px;
    }
    
    #git {
      font-size: 10px;
    }
    #copy{
      font-size: 10px;
    }
  }
   /* Extra Small Mobile (Header)(less than 320px) */
 @media only screen and (max-width: 319px) {
    header {
      flex-direction: column;
      align-items: center;
     height: auto;
     width: auto;
      
    }
    
    #one {
      font-size: 10px;
      margin-left: 10px;
      text-align: center;
    }
    
    .navbar {
      flex-direction: column;
      align-items: center;
      
    }
    
    .navbar li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .navbar a {
      font-size: 10px;
    }
  }
  /* Extra Small Mobile (Main)(less than 320px) */
  @media only screen and (max-width: 319px) {
    #three{
      width: auto;
    }
    #secondp{
      margin-left: 10px;
    }
    #firstp{
      margin-left: 10px;
    }
  }
   /* Extra Small Mobile (Footer)(less than 320px) */
  
   @media only screen and (max-width: 319px) {
    #footercontainer {

      flex-direction: column;
      padding: 15px;
      height: 300px;
      font-size: 10px;
    }
    
    #contact, #email, #linkdin, #github {
      margin: 5px 0;
      font-size: 10px;
    }
    
    #git {
      font-size: 10px;
    }
  }
  