body{
    margin:0px;
}
#h1l{
    margin-left: 600px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    background-color: #ffffff;
    
}
#one{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30 px;
    text-transform: none;
}
.navbar{
    width: 500px;
    display:flex;
    justify-content: space-evenly;
    text-decoration: none;
}
#three{
    
    background-color:#e7e6eb;
    height:1550px;
    border-bottom: 1px solid  #b6b1b1;
}
#ecgmain{
    margin-left: 350px;
    margin-top: 50px;
    display: flex;
    height:380px;
    width:650px;
    border:2px solid black;
}
#ECG{
    height:250px;
    width: 600px;
    text-align: justify;

}
.bu1{
    display: grid;
    place-items: center;
    height:380px;
    width: 400px;
    border-left: 2px solid black;
   
}
#Homemain{
    margin-left: 350px;
    margin-top: 50px;
    display: flex;
    
    border:2px solid black;
    height:330px;
    width:650px;
}
#home{
   height:250px;
   width:400px;
   text-align: justify;
}
#bu2{
    height:330px;
    width: 396px;
    display: grid;
    place-items: center;
    border-left: 2px solid black;

}
#myntramain{
    margin-left: 350px;
    margin-top: 50px;
    display: flex;
    border:2px solid black;
    height:250px;
    width:650px;
}
#myntra{
  text-align: justify;
}
#bu3{
    height:250px;
    width: 400px;
    border-left: 2px solid black;
    display: grid;
    place-items: center;
}
#portfoliomain{
    margin-left: 350px;
    margin-top: 50px;
    display: flex;
    border:2px solid black;
    height:250px;
    width:640px;
}
#bu4{
    height:250px;
    width: 400px;
    border-left: 2px solid black;
    display: grid;
    place-items: center;
}
#footercontainer{
   
    height:88px;
    background-color: #d3d9eb;
    display: flex;
    justify-content: space-evenly;
}
.navbar a{
    text-decoration: none;
    padding: 28px 0;
    color: black;
    
}
.navbar a:hover {
    border-bottom: 4px solid #b8d0e3;
    border-top: 4px solid #b8d0e3;
}
#one a{
    text-decoration: none;
    color:black;
}
#git{
    text-decoration: none;
    color:black;
}
#link{
  text-decoration: none;
  color: black;
}
/*For Tablet (Header)*/
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    header {
        flex-direction: row;
        align-items:flex-start;
        height: auto;
        width: 768px;
    }
    
    #one {
      font-size: 15px;
      margin-left: 10px;
    }
    
    .navbar li {
      margin-right: 0px;
      
    }
    .navbar{
        width: 400px;
        font-size:15px ;
        margin-top: 30px;
        
    }
  }
  /* Mobile (Header)(480px - 767px) */
  @media only screen and (max-width: 767px) and (min-width: 480px) {
    header {
      flex-direction: row;
      align-items: center;
       width: 768px;;
      
    }
    
    #one {
      font-size: 15px;
      margin-left: 0;
      text-align: center;
    }
    
    .navbar {
      flex-direction: row;
      align-items: center;
      width: 450px;
    }
    
    .navbar li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .navbar a {
      font-size: 15px;
    }
  }
   /* Small Mobile (Header)(320px - 479px) */
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    header {
      flex-direction: row;
      align-items: center;
      
      width: auto;
    }
    
    #one {
      font-size: 10px;
      margin-left: 10px;
      text-align: center;
    }
    
    .navbar {
      flex-direction: row;
      align-items: center;
      width: 400px;

    }
    
    .navbar li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .navbar a {
      font-size: 10px;
    }
  }
   /* Extra Small Mobile (Header)(less than 320px) */
  @media only screen and (max-width: 319px) {
    header {
      flex-direction: row;
      align-items: center;
       width: 768px;;
      
    }
    
    #one {
      font-size: 15px;
      margin-left: 10px;
      text-align: center;
    }
    
    .navbar {
      flex-direction: row;
      align-items: center;
      width: 400px;
    }
    
    .navbar li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .navbar a {
      font-size: 15px;
    }
  }
  /* Tablet view: max-width: 1024px to min-width: 768px */
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    #three {
        height: 2500px;
        width: 768px;
    }
    #h1l{
      margin-left: 300px;
    }
    #ecgmain{
        margin-left: 10px;
        height: 505px;
        flex-direction: row;
        align-items: center;
        
    }
    #Homemain{
      margin-left: 10px;
      
      flex-direction: row;
      align-items: flex-start;
      height: auto;
    }
    #myntramain{
      margin-left: 10px;
        width: 653px;
        flex-direction: row;
        align-items: flex-start;
        height: auto;
    }
    #portfoliomain{
      margin-left: 10px;
        width: 653px;
        flex-direction: row;
        align-items: flex-start;
        height: auto;
    }
    #ECG{
        height: 400px;
        padding: 10px;
    }
    .bu1{
        width: 100%;
        height: 489px;
        padding: 10px 0;
        
        border-left: 2px solid black;
    }
    .home{
      height: 400px;
      padding: 10px;
      width: 363px;
        
    }
    #bu2{
        height: 489px;
        padding: 10px 0; 
        border-left: 2px solid black;
    }
    .myntra{
      height: 400px;
      padding: 10px;
      width: 363px;
        
    }
    #bu3{
      height: 489px;
      padding: 10px 0; 
      border-left: 2px solid black
    }
    .portfolio{
      height: 400px;
      padding: 10px;
      width: 363px;
    }
    #bu4{
      height: 489px;
      padding: 10px 0; 
      border-left: 2px solid black
    }
}

/* Small tablet/large mobile: max-width: 767px to min-width: 480px */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  #three {
    height: 2500px;
    width: 768px;
}
#h1l{
  margin-left: 300px;
}
#ecgmain{
    margin-left: 10px;
    height: 505px;
    flex-direction: row;
    align-items: center;
    
}
#Homemain{
  margin-left: 10px;
  
  flex-direction: row;
  align-items: flex-start;
  height: auto;
}
#myntramain{
  margin-left: 10px;
    width: 653px;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
}
#portfoliomain{
  margin-left: 10px;
    width: 653px;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
}
#ECG{
    height: 400px;
    padding: 10px;
}
.bu1{
    width: 100%;
    height: 489px;
    padding: 10px 0;
    
    border-left: 2px solid black;
}
.home{
  height: 400px;
  padding: 10px;
  width: 363px;
    
}
#bu2{
    height: 489px;
    padding: 10px 0; 
    border-left: 2px solid black;
}
.myntra{
  height: 400px;
  padding: 10px;
  width: 363px;
    
}
#bu3{
  height: 489px;
  padding: 10px 0; 
  border-left: 2px solid black
}
.portfolio{
  height: 400px;
  padding: 10px;
  width: 363px;
}
#bu4{
  height: 489px;
  padding: 10px 0; 
  border-left: 2px solid black
}
}

/* Standard mobile: max-width: 479px to min-width: 320px */
@media only screen and (max-width: 479px) and (min-width: 320px) {
  #three {
    height: 2500px;
    width: auto;
}
#h1l{
  margin-left: 150px;
}
#ecgmain{
    margin-left: 10px;
    margin-right: 10px;
    height: 500px;
    flex-direction: row;
    align-items: center;
    width: auto;
    text-align: left;
    padding-right: 10px;
    
}
#ECG{
  width: 350px;
  font-size: 12px;
}

#Homemain{
  margin-left: 10px;
  margin-right: 10px;
  height: 500px;
  flex-direction: row;
  align-items: center;
  width: auto;
  text-align: left;
  padding-right: 10px;
  
}
.home{
  height: auto;
  font-size: 12px;
}
#myntramain{
  margin-left: 10px;
  margin-right: 10px;
    width: auto;
    flex-direction: row;
    align-items: flex-start;
    height: 400px;
}
.myntra{
  font-size: 12px;
}
#portfoliomain{
  margin-left: 10px;
  margin-right: 10px;
    width: auto;
    flex-direction: row;
    align-items: flex-start;
    height: 400px;
}
.portfolio{
  font-size: 12px;
}
#ECG{
    height: 400px;
    padding: 10px;
    width: 420px;
}
.bu1{
    width: 100%;
    height: 483px;
    padding: 10px 0;
    
    border-left: 2px solid black;
}
.home{
  height: 400px;
  padding: 10px;
  width: 420px;
    
}
#bu2{
    height: 483px;
    padding: 10px 0; 
    border-left: 2px solid black;
}
.myntra{
  height: 400px;
  padding: 10px;
  width: 420px;
    
}
#bu3{
  height: 380px;
  padding: 10px 0; 
  border-left: 2px solid black
}
.portfolio{
  height: 400px;
  padding: 10px;
  width: 420px;
}
#bu4{
  height: 380px;
  padding: 10px 0; 
  border-left: 2px solid black
}
}

/* Smaller mobile: max-width: 319px */
@media only screen and (max-width: 319px) {
  #three {
    height: 2500px;
    width: 768px;
}
#h1l{
  margin-left: 300px;
}
#ecgmain{
    margin-left: 10px;
    height: 505px;
    flex-direction: row;
    align-items: center;
    
}
#Homemain{
  margin-left: 10px;
  
  flex-direction: row;
  align-items: flex-start;
  height: auto;
}
#myntramain{
  margin-left: 10px;
    width: 653px;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
}
#portfoliomain{
  margin-left: 10px;
    width: 653px;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
}
#ECG{
    height: 400px;
    padding: 10px;
}
.bu1{
    width: 100%;
    height: 489px;
    padding: 10px 0;
    
    border-left: 2px solid black;
}
.home{
  height: 400px;
  padding: 10px;
  width: 363px;
    
}
#bu2{
    height: 489px;
    padding: 10px 0; 
    border-left: 2px solid black;
}
.myntra{
  height: 400px;
  padding: 10px;
  width: 363px;
    
}
#bu3{
  height: 489px;
  padding: 10px 0; 
  border-left: 2px solid black
}
.portfolio{
  height: 400px;
  padding: 10px;
  width: 363px;
}
#bu4{
  height: 489px;
  padding: 10px 0; 
  border-left: 2px solid black
}
}
/* Tablet (Footer)(768px - 2024px) */

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    #footercontainer {
      height: auto;
      flex-direction: column;
      align-content: space-evenly;
      width: 768px;
    }
    #footer1{
      width: 768px;
  }
    
    #contact, #email, #linkdin, #github {
      margin: 5px 5px;
      font-size: 15px;
    }
    #copy{
      font-size: 10px;
    }
}

  /* Mobile (Footer)(480px - 767px) */
  
  @media only screen and (max-width: 767px) and (min-width: 480px) {
    #footercontainer {
      width: 768px;
      flex-direction: column;
      padding: 15px;
      height: 300px;
    }
    
    #contact, #email, #linkdin, #github {
      margin: 5px 0;
      font-size: 10px;
    }
    
    #git {
      font-size: 10px;
    }
    #copy{
      font-size: 10px;
    }
  }
  
  /* Small Mobile (Footer)(320px - 479px) */
  
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    #footercontainer {
      width: auto;
      flex-direction: column;
      padding: 15px;
      height: auto;
    }
    
    #contact, #email, #linkdin, #github {
      margin: 5px 0;
      font-size: 10px;
    }
    
    #git {
      font-size: 10px;
    }
    #copy{
      font-size: 10px;
    }
  }
  
  /* Extra Small Mobile (Footer)(less than 320px) */
  
  @media only screen and (max-width: 319px) {
    #footercontainer {
      width: 768px;
      flex-direction: column;
      padding: 15px;
      height: 300px;
    }
    
    #contact, #email, #linkdin, #github {
      margin: 5px 0;
      font-size: 10px;
    }
    
    #git {
      font-size: 10px;
    }
    #copy{
      font-size: 10px;
    }
  }
  