*{
    margin:0;
    padding:0;
    font:Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    background-color: #ffffff;
    
}
#three{
    
    background-color:#e7e6eb;
    border-bottom: 1px solid #b6b1b1;
}
.navbar{
    width: 500px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    
}
#one{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30 px;
    
}
#line {
    margin-top: 100px;
    margin-left: 200px;
    font-style: italic;
}
#h2i {
    margin-left: 200px;
}
#paraid{
    border-top: 10px;
    height: 500px;
    display:flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
}

#fd{
    
    height:100px;
    width:500px;
    text-align: justify;
}
#photo{
    height: 350px;
    width:  400px;

    background-image: url("graduation.jpeg");
    background-size: cover;
    border-radius: 20%;
    border: 2px solid black;
}
#footercontainer{
    height:88px;
    background-color: #d3d9eb;
    display: flex;
    justify-content: space-evenly;
}
#contact{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar a{
    text-decoration: none;
    padding: 28px 0;
    color: black;
}
.navbar a:hover {
    border-bottom: 4px solid #b8d0e3;
    border-top: 4px solid #b8d0e3;
}
#one a{
    text-decoration: none;
    color:black;
}
#git{
    text-decoration: none;
    color:black;
}

/*For Tablet (Header)*/
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    header {
        flex-direction: row;
        align-items: center;
        height: auto;
        padding: 20px;;
    }
    
    #one {
      font-size: 25px;
      margin-left: 20px;
    }
    
    .navbar li {
      margin-right: 15px;
    }
  }
  /* Mobile (Header)(480px - 767px) */
  @media only screen and (max-width: 767px) and (min-width: 480px) {
    header {
      flex-direction: row;
      align-items: center;
      height: auto;
      padding: 20px;
    }
    
    #one {
      font-size: 10px;
      margin-left: 0;
      text-align: center;
    }
    
    .navbar {
      flex-direction: row;
      align-items: center;
    }
    
    .navbar li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .navbar a {
      font-size: 10px;
    }
  }
   /* Small Mobile (Header)(320px - 479px) */
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    header {
        flex-direction: row;
        align-items: center;
        height: auto;
       
    }
    
    #one {
      font-size: 10px;
      font-size: 5px;
      margin-left: 0px;
    }
    
    .navbar li {
      margin-bottom: 5px;
    }
    
    .navbar a {
      font-size: 10px;
    }
  }
   /* Extra Small Mobile (Header)(less than 320px) */
  @media only screen and (max-width: 319px) {
    header {
      flex-direction: row;
      align-items:baseline;
      height: auto;
    }
    
    #one {
      font-size: 10px;
      margin-left: 0px;
    }
    
    .navbar li {
      margin-bottom: 5px;
    }
    
    .navbar a {
      font-size: 12px;
    }
  }
 
  /* Tablet (Main)(768px - 991px) */
  
  @media only screen and (max-width: 991px) and (min-width: 768px) {
    #three {
      padding: 30px;
      height:auto;
    }
    
    #line {
      font-size: 15px;
      margin-left: 10px;
      text-align: justify;
    }
    
    #h2i {
      font-size: 15px;
      margin-left: 10px;
    }
    
    #paraid {
      padding: 15px;
    
    }
    
    #fd {
      width: 85%;
    }
    #photo{
      align-items: flex-end;
      margin-left: 20px;
    }
    #para{
      font-size: 15px;
      text-align: justify;
    }
   
  }
  
  /* Mobile (Main)(480px - 767px) */
  
  @media only screen and (max-width: 767px) and (min-width: 480px) {
    #three {
      padding: 20px;
      height:1200px;
    }
    
    #line {
      font-size: 20px;
      margin-left: 10px;
    }
    
    #h2i {
      font-size: 18px;
      margin-left: 10px;
    }
    
    #paraid {
      padding: 10px;
    }
    
    #fd {
      width: 90%;
    }
    #photo{
      margin-left: 20px;
    }
    #para{
        font-size: 15px;
    }
  }
  
  /* Small Mobile (Main)(320px - 479px) */
  
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    #three {
      padding: 15px;
      height:1000px;
      
    }
    
    #line {
      margin-left: 10px;
      font-size: 10px;
    }
    
    #h2i {
    margin-left: 10px;
    font-size: 10px;
    }
    
    #paraid {
      padding: 5px;
    }
    
    #fd{
      width: 95%;

    }
    #photo{
      width: 95%;
      margin-left: 20px;
    }
    #para{
        font-size: 10px;
    }
  }
  
  /* Extra Small Mobile (Main)(less than 320px) */
  
  @media only screen and (max-width: 319px) {
    #three {
      padding: 10px;
      height:3000px;
    }
    #para{
        font-size: 15px;
        
    }
    
    #line {
      font-size: 16px;
      margin-left: 10px;
    }
    
    #h2i {
      font-size: 14px;
      margin-left: 10px;
    }
    
    #paraid {
      padding: 5px;
    }
    
    #fd{
      width: 100%;
    }
  }
  #photo{
    width: 95%;
    margin-left: 20px;
  }
  /* Tablet (Footer)(768px - 991px) */

@media only screen and (max-width: 991px) and (min-width: 768px) {
    #footercontainer {
      height: auto;
      flex-direction: column;
      padding: 20px;
    }
    
    #contact, #email, #linkdin, #github {
      margin: 10px 0;
      font-size: 15px;
    }
    #copy{
      font-size: 15px;
    }
  }
  
  /* Mobile (Footer)(480px - 767px) */
  
  @media only screen and (max-width: 767px) and (min-width: 480px) {
    #footercontainer {
      height: auto;
      flex-direction: column;
      padding: 15px;
    }
    
    #contact, #email, #linkdin, #github {
      margin: 5px 0;
      font-size: 10px;
    }
    
    #git {
      font-size: 10px;
    }
    #copy{
      font-size: 10px;
    }
  }
  
  /* Small Mobile (Footer)(320px - 479px) */
  
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    #footercontainer {
      height: auto;
      flex-direction: column;
      padding: 10px;
    }
    
    #contact, #email, #linkdin, #github {
      margin: 3px 0;
      font-size: 10px;
    }
    
    #git {
      font-size: 10px;
    }
    #copy{
      font-size: 10px;
    }
  }
  
  /* Extra Small Mobile (Footer)(less than 320px) */
  
  @media only screen and (max-width: 319px) {
    #footercontainer {
      height: auto;
      flex-direction: column;
      padding: 5px;
    }
    
    #contact, #email, #linkdin, #github {
      margin: 2px 0;
      font-size: 10px;
    }
    
    #git {
      font-size: 10px;
    }
    #copy{
      font-size: 10px;
    }
  }
  
    